{% extends 'base.html' %}
{% import '_macros.html' as macros %}
{% block title %} 资源管理 - 首页 {% endblock %}
{% block page_title %} 档案资源查看 <small>{{ file.title_proper }}</small> {% endblock %}
{% block page_content %}
<style type="text/css">
.table1{
text-align:center
}
.circle{
height: 40px;
width: 62px;
border: 1px solid #B4E3EF;
background-color:#B4E3EF;
display: table-cell;
vertical-align: middle;
text-align: center;
border-radius: 50%
}
.circletr{
	height: 20px;
	text-align:center;
	margin:0px;
	padding:0px;
}
.table1 table{
margin:0 auto;
}
</style>

<div class="tabbable" id="tabs-445818">
<!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="">
            <a href="{{ url_for('main.file_detail', id=file.id) }}">详细信息</a>
        </li>
        <li class="">
            <a href="{{ url_for('main.er', id=file.id) }}">语义关系</a>
        </li>
        <li class="">
            <a href="{{ url_for('main.knowledge', id=file.id) }}">知识导航</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="panel-new">

<div class="table1">
<table style="text-align:center;background:white;border:0px solid #888" cellpadding="0" cellspacing="1">
<tr class="circletr"><!-- 1 -->
<td width="45"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #666;color:#666" width="90">
    <a href="{{ url_for('main.file_detail_by_name', file_name='民族档案的保护和利用') }}">民族档案的保护和利用</a>
    </td><!-- 7 -->
<!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #666;color:#666" width="90">企业档案制度建设</td><!-- 13 -->
<!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45"></td><!-- 16 -->
<td width="45"></td><!-- 17 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #666;color:#666" width="90">大数据时代档案学发展</td><!-- 18 -->
<!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 2 -->
<td width="45"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<!-- 7 -->
<!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<!-- 13 -->
<!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45"></td><!-- 16 -->
<td width="45"></td><!-- 17 -->
<!-- 18 -->
<!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 3 -->
<td width="45"></td><!-- 1 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #8fbc8f;color:#8fbc8f" width="90">数字档案与信息安全</td><!-- 2 -->
<!-- 3 -->
<td width="45"></td><!-- 4 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #8fbc8f;color:#8fbc8f" width="90">数字资源的开发利用</td><!-- 5 -->
<!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #8fbc8f;color:#8fbc8f" width="90">新媒体与档案的归档</td><!-- 16 -->
<!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<td width="45"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 4 -->
<td width="45"></td><!-- 1 -->
<!-- 2 -->
<!-- 3 -->
<td width="45"></td><!-- 4 -->
<!-- 5 -->
<!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<!-- 16 -->
<!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<td width="45"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 5 -->
<td width="45"></td><!-- 1 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45" style="border-right:1px dotted #8fbc8f" style="border-right:1px dotted #8fbc8f"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45"></td><!-- 8 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #4682b4;color:#4682b4" width="90">专题型数字档案馆建设</td><!-- 9 -->
<!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #4682b4;color:#4682b4" width="90">国内外档案馆建设对比</td><!-- 14 -->
<!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<td width="45"></td><!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #4682b4;color:#4682b4" width="90">档案学科发展历程回顾</td><!-- 19 -->
<!-- 20 -->
</tr>
<tr class="circletr"><!-- 6 -->
<td width="45"></td><!-- 1 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45"></td><!-- 8 -->
<!-- 9 -->
<!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<!-- 14 -->
<!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<td width="45"></td><!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<!-- 19 -->
<!-- 20 -->
</tr>
<tr class="circletr"><!-- 7 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #a52a2a;color:#a52a2a" width="90">档案保存介质的发展</td><!-- 1 -->
<!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #a52a2a;color:#a52a2a" width="90">电子文件生命周期讨论</td><!-- 8 -->
<!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #a52a2a;color:#a52a2a" width="90">数字档案论坛会议流程</td><!-- 17 -->
<!-- 18 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 8 -->
<!-- 1 -->
<!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<!-- 8 -->
<!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<!-- 17 -->
<!-- 18 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 9 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 1 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #ffa500;color:#ffa500" width="90">数字档案的归档与保存</td><!-- 4 -->
<!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 8 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #ffa500;color:#ffa500" width="90">数字档案的应用</td><!-- 12 -->
<!-- 13 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 10 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 1 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<!-- 4 -->
<!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 8 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<!-- 12 -->
<!-- 13 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 11 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 1 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 4 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 8 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #f00;color:#f00" width="90">数字档案馆建设标准</td><!-- 10 -->
<!-- 11 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 12 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 1 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 4 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 7 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 8 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<!-- 10 -->
<!-- 11 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 12 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 13 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 16 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 17 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 18 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 9 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 13 -->
<td width="45" style="border-right:3px double #a52a2a;color:#a52a2a">4</td><!-- 1 -->
<td width="45" style="border-right:1px dotted #8fbc8f;color:#8fbc8f">2</td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45" style="border-right:3px double #ffa500;color:#ffa500">5</td><!-- 4 -->
<td width="45" style="border-right:1px dotted #8fbc8f;color:#8fbc8f">2</td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45" style="border-right:1px solid #666;color:#666">1</td><!-- 7 -->
<td width="45" style="border-right:3px double #a52a2a;color:#a52a2a">4</td><!-- 8 -->
<td width="45" style="border-right:1px dashed #4682b4;color:#4682b4">3</td><!-- 9 -->
<td width="45" style="border-right:3px double #f00;color:#f00">6</td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45" style="border-right:3px double #ffa500;color:#ffa500">5</td><!-- 12 -->
<td width="45" style="border-right:1px solid #666;color:#666">1</td><!-- 13 -->
<td width="45" style="border-right:1px dashed #4682b4;color:#4682b4">3</td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px dotted #8fbc8f;color:#8fbc8f">2</td><!-- 16 -->
<td width="45" style="border-right:3px double #a52a2a;color:#a52a2a">4</td><!-- 17 -->
<td width="45" style="border-right:1px solid #666;color:#666">1</td><!-- 18 -->
<td width="45" style="border-right:1px dashed #4682b4;color:#4682b4">3</td><!-- 9 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 14 -->
<td width="45"></td><!-- 1 -->
<td colspan="18" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #000"><b>数字档案馆建设方案&nbsp;（关键 学术研讨 2017年12月 北京 学术报告 数字档案馆建设）</b></td><!-- 2 -->
<!-- 3 -->
<!-- 4 -->
<!-- 5 -->
<!-- 6 -->
<!-- 7 -->
<!-- 8 -->
<!-- 9 -->
<!-- 10 -->
<!-- 11 -->
<!-- 12 -->
<!-- 13 -->
<!-- 14 -->
<!-- 15 -->
<!-- 16 -->
<!-- 17 -->
<!-- 18 -->
<!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 15 -->
<td width="45"></td><!-- 1 -->
<!-- 2 -->
<!-- 3 -->
<!-- 4 -->
<!-- 5 -->
<!-- 6 -->
<!-- 7 -->
<!-- 8 -->
<!-- 9 -->
<!-- 10 -->
<!-- 11 -->
<!-- 12 -->
<!-- 13 -->
<!-- 14 -->
<!-- 15 -->
<!-- 16 -->
<!-- 17 -->
<!-- 18 -->
<!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 16 -->
<td width="45" style="border-right:1px solid #666;color:#666">1</td><!-- 1 -->
<td width="45" style="border-right:3px double #ffa500;color:#ffa500">5</td><!-- 2 -->
<td width="45" style="border-right:1px dashed #4682b4;color:#4682b4">3</td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45" style="border-right:3px double #f00;color:#f00">6</td><!-- 5 -->
<td width="45" style="border-right:1px dotted #8fbc8f;color:#8fbc8f">2</td><!-- 6 -->
<td width="45" style="border-right:3px double #a52a2a;color:#a52a2a">4</td><!-- 7 -->
<td width="45" style="border-right:1px solid #666;color:#666">1</td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45" style="border-right:3px double #ffa500;color:#ffa500">5</td><!-- 10 -->
<td width="45" style="border-right:1px dotted #8fbc8f;color:#8fbc8f">2</td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:3px double #a52a2a;color:#a52a2a">4</td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45" style="border-right:3px double #f00;color:#f00">6</td><!-- 15 -->
<td width="45" style="border-right:1px solid #666;color:#666">1</td><!-- 16 -->
<td width="45" style="border-right:1px dashed #4682b4;color:#4682b4">3</td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f;color:#">2</td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 17 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 2 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #f00;color:#f00" width="90">数字档案馆建设流程图</td><!-- 5 -->
<!-- 6 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 10 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #f00;color:#f00" width="90">数字档案馆建设经验</td><!-- 15 -->
<!-- 16 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 18 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 2 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<!-- 5 -->
<!-- 6 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45" style="border-right:3px double #ffa500"></td><!-- 10 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<!-- 15 -->
<!-- 16 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 19 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #ffa500;color:#ffa500" width="90">档案事业的发展</td><!-- 2 -->
<!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 6 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #ffa500;color:#ffa500" width="90">档案管理系统构建说明</td><!-- 10 -->
<!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 20 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<!-- 2 -->
<!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 6 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<!-- 10 -->
<!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45" style="border-right:3px double #a52a2a"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 21 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 6 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #a52a2a;color:#a52a2a" width="90">数字档案损坏与修复</td><!-- 7 -->
<!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #a52a2a;color:#a52a2a" width="90">数字资源著录元数据</td><!-- 13 -->
<!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 22 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 6 -->
<!-- 7 -->
<!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<!-- 13 -->
<!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<td width="45" style="border-right:1px dashed #4682b4"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 23 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #4682b4;color:#4682b4" width="90">档案博士论坛会议纪要</td><!-- 3 -->
<!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 6 -->
<td width="45"></td><!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #4682b4;color:#4682b4" width="90">数字遗产大会会议纪要</td><!-- 17 -->
<!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 24 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<!-- 3 -->
<!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 6 -->
<td width="45"></td><!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<!-- 17 -->
<!-- 18 -->
<td width="45" style="border-right:1px dotted #8fbc8f"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 25 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #8fbc8f;color:#8fbc8f" width="90">档案利用移动平台开发</td><!-- 6 -->
<!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #8fbc8f;color:#8fbc8f" width="90">数字档案的信息组织</td><!-- 11 -->
<!-- 12 -->
<td width="45"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<td width="45"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #8fbc8f;color:#8fbc8f" width="90">数字档案的多套保存</td><!-- 19 -->
<!-- 20 -->
</tr>
<tr class="circletr"><!-- 26 -->
<td style="border-right:1px solid #666"></td><!-- 1 -->
<td width="45"></td><!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<!-- 6 -->
<!-- 7 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 8 -->
<td width="45"></td><!-- 9 -->
<td width="45"></td><!-- 10 -->
<!-- 11 -->
<!-- 12 -->
<td width="45"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td width="45" style="border-right:1px solid #666"></td><!-- 16 -->
<td width="45"></td><!-- 17 -->
<td width="45"></td><!-- 18 -->
<!-- 19 -->
<!-- 20 -->
</tr>
<tr class="circletr"><!-- 27 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #666;color:#666" width="90">高校档案信息化建设</td><!-- 1 -->
<!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45"></td><!-- 7 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #666;color:#666" width="90">档案文化建设研究</td><!-- 8 -->
<!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<td colspan="2" rowspan="2" style="text-align:center;word-break:break-all;border:1px solid #666;color:#666" width="90">档案与社会记忆</td><!-- 16 -->
<!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
<tr class="circletr"><!-- 28 -->
<!-- 1 -->
<!-- 2 -->
<td width="45"></td><!-- 3 -->
<td width="45"></td><!-- 4 -->
<td width="45"></td><!-- 5 -->
<td width="45"></td><!-- 6 -->
<td width="45"></td><!-- 7 -->
<!-- 8 -->
<!-- 9 -->
<td width="45"></td><!-- 10 -->
<td width="45"></td><!-- 11 -->
<td width="45"></td><!-- 12 -->
<td width="45"></td><!-- 13 -->
<td width="45"></td><!-- 14 -->
<td width="45"></td><!-- 15 -->
<!-- 16 -->
<!-- 17 -->
<td width="45"></td><!-- 18 -->
<td width="45"></td><!-- 19 -->
<td width="45"></td><!-- 20 -->
</tr>
</table>
</div>
        </div>
    </div>
</div>
{% endblock %}

